:host{
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
}

app-text-input{
  overflow: hidden;
  padding-top: 6px;
  border-bottom: 1px solid transparent;
}

.answer app-text-input{
  width: 100%;
}

app-text-input:hover{
  border-color: #e1e1e1;
}

.answers{
  display: flex;
  flex-direction: column;
}

.answer:hover .cdk-drag-handle{
  visibility: visible;
}

.cdk-drop-list-dragging .answer{
  pointer-events: none;
}

.cdk-drag-handle{
  visibility: hidden;
  cursor: move;
}

.cdk-drag-handle img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-answer-option{
  display: flex;
  align-items: center;
  gap: 12px;
}

.answer{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6px;
  margin-right: 20px;
}

.answer-edit{
  display: flex;
  align-items: center;
}

.answer .cdk-drag-handle{
  margin-right: 6px;
}

.answer app-text-input{
  margin-left: 12px;
}

.answer:hover .answer-edit .action-btn{
  visibility: visible;
}

.add-answer-option{
  flex-wrap: wrap;
  margin-left: 22px;
  margin-top: 4px;
  font-size: 15px;
}

.add-answer-option span{
  margin-right: 6px;
}

.add-answer{
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
  padding-top: 6px;
  color: #70757a;
  font-size: 14px;
  cursor: text;
}

.another-answer{
  margin-left: 16px;
}

.add-answer:hover{
  border-bottom: 1px solid #c1c6c9;
}

.add-another-answer{
  border: none;
  background: transparent;
  border-radius: 6px;
  color: #673ab7;
  padding: 12px;
}

.add-another-answer:hover{
  background: rgba(103, 58, 183, 0.12);
}

.action-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.answer-edit .action-btn{
  visibility: hidden;
}

.offered-answers > app-text-input{
  margin: 0 20px;
}

.answer-image{
  display: block;
  position: relative;
  margin-left: 40px;
  margin-top: 20px;
  max-height: 120px;
  height: 120px;
  max-width: 120px;
}

.answer-image .action-btn{
  position: absolute;
  background: #e7e9ee;
  visibility: hidden;
  right: 0;
  top: 0;
  transform: translate(12px, -12px);
  z-index: 1;
}

.answer-image .action-btn:hover{
  background: #d0d4da;
}

.answer-image .action-btn:active{
  background: #e9d2fd;
}


.answer-image:hover .action-btn{
  visibility: visible;
}

.answer-image img{
  object-fit: cover;
  max-width: 100%;
}

.answer-image > img{
  height: 100%;
}

.custom-placeholder{
  height: 44px;
  width: 100%;
  background: white;
  margin-right: 20px;
}

.cdk-drag-preview{
  opacity: 0.8;
}
