<div [formGroup]="questionForm">
  <ng-content></ng-content>
  <div class="form-question-parameters">
    <div class="question-title">
      <app-text-rich-editor formControlName="title"
                            styleClass="question-title-input"
                            placeholder="Вопрос"></app-text-rich-editor>
      <span *ngIf="questionForm.controls.required.value === true" class="required-mark">*</span>
    </div>
    <app-question-type-select formControlName="questionType"></app-question-type-select>
  </div>
  <app-form-answers formControlName="answers"
                    [questionType]="questionForm.controls.questionType.value"></app-form-answers>
  <div class="form-question-bottom-menu">
    <button class="action-btn"
            [tuiHint]="'Копировать вопрос'"
            [tuiHintShowDelay]="0"
            [tuiHintHideDelay]="100"
            [tuiHintAppearance]="'info'"
            [tuiHintDirection]="'bottom'"
            (click)="onCopyClick()">
      <img alt="Копировать" height="24" width="24" src="assets/icon/copy.png">
    </button>
    <button class="action-btn"
            [tuiHint]="'Удалить вопрос'"
            [tuiHintShowDelay]="0"
            [tuiHintHideDelay]="100"
            [tuiHintAppearance]="'info'"
            [tuiHintDirection]="'bottom'"
            (click)="onDeleteClick()">
      <img alt="Удалить" height="24" width="24" src="assets/icon/delete.png">
    </button>
    <div class="bottom-menu-toggle">
      <div class="bottom-menu-separator"></div>
      <p class="required-question">Обязательный вопрос</p>
      <tui-toggle size="l" formControlName="required"></tui-toggle>
    </div>
    <button class="action-btn"
            [tuiHint]="'Настройки'"
            [tuiHintShowDelay]="0"
            [tuiHintHideDelay]="100"
            [tuiHintAppearance]="'info'"
            [tuiHintDirection]="'bottom'">
      <img alt="Дополнительно" src="assets/img/menu.png" height="24" width="24">
    </button>
  </div>
</div>
