:host{
  padding: 0;
  overflow: hidden;
}

:host:is(.selected){
  border-bottom: 3px solid #673ab7;
}

:host:not(.selected)::ng-deep app-form-answers .action-btn{
  display: none;
}

:host:not(.selected)::ng-deep .form-question-parameters app-text-rich-editor{
  max-width: fit-content;
}

.required-mark{
  display: none;
}

:host:not(.selected) .required-mark{
  display: inline;
}

:host:is(.selected)::ng-deep app-text-rich-editor .question-title-input{
  background: #f8f8f8;
  padding: 16px;
  margin-bottom: 0;
  border-bottom: 1px solid #e1e1e1;
  pointer-events: initial;
}

app-question-type-select,
:host::ng-deep app-form-answers .add-answer-option,
.form-question-bottom-menu{
  display: none;
}

:host:not(.selected)::ng-deep app-form-answers .cdk-drag-handle{
  visibility: hidden !important;
  pointer-events: none;
}

:host:is(.selected) app-question-type-select{
  display: block;
}

:host:is(.selected)::ng-deep app-text-rich-editor .question-title-input:hover{
  background: #f3f3f3;
}

:host:is(.selected)::ng-deep app-form-answers .add-answer-option{
  display: flex;
}

:host:is(.selected) .form-question-bottom-menu{
  display: grid;
}

:host::ng-deep [tuiWrapper][data-appearance='textfield']{
  box-shadow: none;
}

.form-question-parameters{
  display: flex;
  flex-wrap: wrap;
  gap:8px 24px;
  padding:0 20px;
}

.form-question-parameters > .question-title, app-question-type-select{
  flex: 1 1 256px;
}

.question-title{
  display: flex;
}

.question-title app-text-rich-editor{
  flex: 1 1;
}

.form-question-answers{
  margin-top: 12px;
  margin-bottom: 24px;
}

.form-question-bottom-menu{
  display: none;
  grid-template-columns: 1fr 40px 40px max-content 40px;
  border-top: 1px solid lightgray;
  padding: 8px 20px;
}

.form-question-bottom-menu button:first-child{
  grid-column: 2;
}

@media screen and (max-width: 483px){
  .form-question-bottom-menu{
    grid-template-columns:1fr 40px 40px 40px;
    gap: 4px 0;
  }

  .form-question-bottom-menu button:nth-child(1){
    grid-row: 2;
    grid-column: 2;
  }

  .form-question-bottom-menu button:nth-child(2){
    grid-row: 2;
    grid-column: 3;
  }

  .form-question-bottom-menu button:nth-child(4){
    grid-row: 2;
    grid-column: 4;
  }

  .bottom-menu-toggle{
    grid-row: 1;
    grid-column: 1/5;
  }

  .bottom-menu-separator{
    display: none;
  }

  tui-toggle{
    margin: 0;
  }
}

.bottom-menu-separator{
  height: 32px;
  width: 1px;
  margin-left: 20px;
  margin-right: 16px;
  background: lightgray;
}

.bottom-menu-toggle{
  display: flex;
  align-items: center;
}

.required-question{
  font-size: 15px;
  margin-right: 8px;
}

tui-toggle{
  margin-right: 8px;
}

.action-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

:host:is(.cdk-drag-preview) .form-question-bottom-menu,
:host:is(.cdk-drag-preview) app-form-answers{
  display: none;
}

@media screen and (width < 596px){
  :host:is(.cdk-drag-preview) app-question-type-select{
    display: none;
  }
}

:host::ng-deep tui-select [tuiWrapper][data-appearance='textfield']:hover:not(._no-hover),
:host::ng-deep tui-select [tuiWrapper][data-appearance='textfield']
{
  box-shadow: none;
}
