<div class="edit-menu-container">
  <button class="action-btn"
          [tuiHint]="'Добавить вопрос'"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="100"
          [tuiHintAppearance]="'info'"
          [tuiHintDirection]="tooltipDirection"
          (click)="onAddQuestionClick()">
    <img src="assets/icon/add-circle.png"
         alt="Добавить вопрос">
  </button>
  <button class="action-btn"
          [tuiHint]="'Добавить описание'"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="100"
          [tuiHintAppearance]="'info'"
          [tuiHintDirection]="tooltipDirection">
    <img src="assets/icon/t-t.png" alt="Добавить описание">
  </button>
  <button class="action-btn"
          [tuiHint]="'Вставить изображение'"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="100"
          [tuiHintAppearance]="'info'"
          [tuiHintDirection]="tooltipDirection">
    <img src="assets/icon/add-image.png" alt="Вставить изображение">
  </button>
  <button class="action-btn"
          [tuiHint]="'Вставить видео'"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="100"
          [tuiHintAppearance]="'info'"
          [tuiHintDirection]="tooltipDirection">
    <img src="assets/icon/video.png" alt="Вставить видео">
  </button>
  <button class="action-btn"
          [tuiHint]="'Добавить раздел'"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="100"
          [tuiHintAppearance]="'info'"
          [tuiHintDirection]="tooltipDirection">
    <img src="assets/icon/add-block.png" alt="Добавить раздел">
  </button>
</div>
